.theme-default-content
  max-width 960px !important
h2
  font-size 2rem
h3
  font-size 1.75rem
h4
  font-size 1.5rem
h5
  font-size 1.0rem

a.button
  color #fff
  background-color #007bff
  border-color #007bff
  border-radius .25rem
  display inline-block
  font-weight 400
  padding .375rem .75rem
  transition color .15s
a.button:hover
  background-color #0069d9
  border-color #0062cc
  text-decoration none !important

a.header-anchor
  visibility hidden  

.home
  .hero
    img
      border-radius 50%
      margin 0px auto !important
      padding 10px
    h1
      font-size 3.5rem !important
      font-weight 300
      line-height 1.2
      margin 0px 0px 8px 0px !important
    .description
      font-size 1.25rem !important
      font-weight 300
      margin 0px auto !important
      color #212529 !important
  .footer
    padding .5rem 2.5rem !important

.social
  ul
    margin 25px
    padding 0
    list-style none
    display flex
    justify-content center
  ul li
    margin 40px 10px 0px 10px
  ul li a
    position relative
    display block
    width 120px
    height 40px
    background red
    text-align center
    line-height 40px
    padding-left 40px
    color white
    transition 0.5s
  ul li a:hover
    box-shadow -10px 10px 20px rgba(0,0,0,0.5)
  ul li a .fab
    font-size 26px
    line-height 40px
  ul li a span
    position absolute
    left 0
    width 40px
    height 40px
    border-right 2px solid rgba(255,255,255,0.15)
  ul li:nth-child(1) a
    background #24292e
  ul li:nth-child(2) a
    background #007bb5

.tab
  margin-left 16px